@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;0,600;1,500&display=swap");

body, input, select, textarea {
    color: #FFFFFF;
    font-family: "Montserrat";
}

h1 {
    color: #FFFFFF;
    font-family: "Montserrat";
    font-size: 24pt;
    font-weight: 900;
    line-height: 1.75;
    text-align: center;
}

#navlogo { 
    height: 100px;
    width: 100px;
}

#cont {
    width:100%;
    margin-top: 50px;
}

